// Custom styles.
*{
  cursor:url("http://om8u46rmb.bkt.clouddn.com/sword2.ico"),auto!important;
}
// 主页文章添加阴影效果
.post{
  background:#fff;
  margin-top:60px;
  margin-bottom:60px;
  padding:25px;
  -webkit-box-shadow:0 0 5px rgba(202,203,203,.5);
  -moz-box-shadow:0 0 5px rgba(202,203,203,.5);
}

//去掉顶部黑线
.headband{
  display:none
}
