// Custom styles.
*{
  cursor:url("http://om8u46rmb.bkt.clouddn.com/sword2.ico"),auto!important;
}
// 主页文章添加阴影效果
.post{
  background:#fff;
  margin-top:60px;
  margin-bottom:60px;
  padding:25px;
  -webkit-box-shadow:0 0 5px rgba(202,203,203,.5);
  -moz-box-shadow:0 0 5px rgba(202,203,203,.5);
}

//去掉顶部黑线
.headband{
  display:none
}

//自定义回到顶部样式
.back-to-top {
  right: 60px;
  width: 70px;
  //图片素材宽度
  height: 900px;
 //图片素材高度
 top: -900px;
  bottom: unset;
  transition: all .5s ease-in-out;
  background: url("");

 //隐藏箭头图标
}
.back-to-top > i{
  display: none;
}
.back-to-top .back-to-top-on {
  bottom: unset;
  top: 100vh < (900px + 200px) ? calc( 100vh - 900px - 200px ) : 0px;
}
